#list.list .addIcon {
    font-size: 18px;
    cursor: pointer;
}

#list.list .addIcon:hover {
    color: #ff7700;
}

#list.list .topButtons {
    margin-bottom: 20px;
}

#list.list .tableBtn {
    color: #1890ff;
    cursor: pointer;
    font-size: 14px;
}